<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>HackforPlay</title>
	<meta property="og:title" content="" />
	<meta property="og:url" content="" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="" />
	<meta property="og:author" content="" />
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:site" content="" />
	<meta property="twitter:title" content="" />
	<meta property="twitter:description" content="" />
	<meta property="twitter:image" content="" />
	<style media="screen">
		.h4p__app {
			position: absolute;
			padding: 0;
			margin: 0;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			line-height: 1.15;
		}
	</style>
</head>

<body>

	<!-- Config of the app -->
	<div class="h4p__app"></div>

</body>

</html>